<div class="w-full">
    <div class="mt-2">
        <label for="text-content" class="block font-medium text-sm mb-2">
            Content
            <span class="block font-normal text-xs">Enter the content for the QR code</span>
        </label>
        <textarea #textareaContent id="text-content" name="text-content" placeholder="QR Code content or URL"
            [(ngModel)]="content" (input)="adjustHeight(textareaContent)"
            class="ring-1 ring-gray-200 p-2 w-full overflow-y-hidden max-h-[120px] resize-none text-sm rounded-md focus:ring-blue-500 focus:outline-none disabled:opacity-50 disabled:pointer-events-none"></textarea>
        <span class="text-xs text-red-500 font-medium">{{ error }}</span>
    </div>
    <div class="mt-2">
        <label for="qr-prompt" class="block font-medium text-sm mb-2">
            Prompt
            <span class="block font-normal text-xs">Enter a prompt for the image</span>
        </label>
        <textarea #textareaPrompt id="qr-prompt" name="qr-prompt"
            placeholder="e.g. A sky view of a colorful lakes and rivers flowing through the desert"
            [(ngModel)]="prompt" (input)="adjustHeight(textareaPrompt)"
            class="ring-1 ring-gray-200 p-2 w-full overflow-y-hidden max-h-[120px] resize-none text-sm rounded-md focus:ring-blue-500 focus:outline-none disabled:opacity-50 disabled:pointer-events-none"></textarea>
    </div>
    <button
        class="p-1.5 rounded-lg bg-indigo-100 text-indigo-700 text-xs font-medium mt-2 w-full text-center hover:bg-indigo-50"
        (click)="onClick()">
        Generate
    </button>
</div>