<div class="mt-2 w-full h-max border-2 border-gray-200 rounded-md">
    <div class="flex items-center gap-x-0.5 border-b-2 border-gray-100 p-1">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-400" width="15" height="15" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 8h4v4h-4z" />
                <path d="M6 4l0 4" />
                <path d="M6 12l0 8" />
                <path d="M10 14h4v4h-4z" />
                <path d="M12 4l0 10" />
                <path d="M12 18l0 2" />
                <path d="M16 5h4v4h-4z" />
                <path d="M18 4l0 1" />
                <path d="M18 9l0 11" />
            </svg>
        </span>
        <p class="text-sm font-semibold">Parameters</p>
    </div>
    <div class="p-2 font-medium text-sm">
        <div>
            <label for="infSteps">
                Inference Steps
                <span class="block font-normal text-xs">The number of inference steps to perform</span>
            </label>
            <div class="flex items-center justify-between gap-2">
                <input type="range" min="0" max="100" value="25" id="infSteps" name="infSteps" class="w-full mt-1 accent-indigo-500 cursor-pointer">
                <div class="mt-1 w-8 h-max p-1 bg-gray-100 rounded-md text-center text-xs">100</div>
            </div>
        </div>
        <div>
            <label for="infSteps">
                Guidance Scale
                <span class="block font-normal text-xs">Measure of how close you want the model to stick to your prompt</span>
            </label>
            <div class="flex items-center justify-between gap-2">
                <input type="range" min="0" max="20" value="7.5" id="guidScale" name="guidScale" class="w-full mt-1 accent-indigo-500 cursor-pointer">
                <div class="mt-1 w-8 h-max p-1 bg-gray-100 rounded-md text-center text-xs">20</div>
            </div>
        </div>
    </div>
</div>