<div class="w-full h-full flex flex-col justify-center items-center pt-5">
        <div class="w-96">
            <app-textarea title="Content" description="Enter the content for the QR code" displayText="QR Code content or URL"></app-textarea>
            <app-textarea title="Prompt" description="Enter a prompt for the image" displayText="e.g. A sky view of a colorful lakes and rivers flowing through the desert"></app-textarea>
            <app-submit-btn></app-submit-btn>
            <app-output-area></app-output-area>
        </div>
</div>