
<div class="w-full mt-2">
    <div class="w-96">
      <label for="qr-content" class="block font-medium text-sm mb-2">
        {{ title }}
        <span class="block font-normal text-xs">{{ description }}</span>
      </label>
      <textarea
        #textareaElement
        id="text-input"
        name="text-{{title}}"
        placeholder="{{displayText}}"
        (input)="adjustHeight()"
        class="ring-1 ring-gray-200 p-2 w-full overflow-y-hidden max-h-[120px] resize-none text-sm rounded-md focus:ring-blue-500 focus:outline-none disabled:opacity-50 disabled:pointer-events-none"></textarea>
    </div>
  </div>